@use "utility.scss";
@use 'sass:math';

.sinbon-logo {
  width: utility.width(206);
  height: utility.height(62.3);
  margin: auto;
  margin-top: utility.height(37);
  img {
    width: 100%;
    display: block;
  }
}


.main-nav {
  display: flex;
  align-items: center;
  margin-left: utility.width(100);
  margin-right: utility.width(100);
  margin-top: utility.height(379.37);
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // margin: auto;
  // left: 0;
  // right: 0;
  &-item {
    flex: 1 1 auto;
    padding-left: utility.width(100);
    padding-right: utility.width(100);
    box-sizing: border-box;
  }
  
  &-item {
    position: relative;
    text-align: center;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      display: block;
      z-index: -1;
      width: utility.width(369);
    }
    .text {
      line-height: 1em;
      font-size: 3em;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .shape {
    // 為了置中，高不用訂死
    // height: utility.height(369);
    $sec: 12s;

    &:nth-child(1){
      img {
        transform: 
          rotate(-26deg) 
          translate(-21px, -61px) 
          scale(math.div(411.82, 369));
      }
      // animation: floating ($sec * math.random()) infinite alternate;
      // animation: floating 3.3898021649s ease-in-out infinite alternate;
    }
    &:nth-child(2){
      // animation: floating ($sec * math.random()) infinite alternate-reverse;
      // animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
    }
    &:nth-child(3){
      img {
        transform: 
          rotate(-15deg) 
          scale(math.div(302.21, 369));
      }
      // animation: floating 6.524291946s ease-in-out infinite alternate;
    }
  }
}

@keyframes floating {
  // 0% {
  //   transform: translate((math.random() * 20px), (math.random() * 20px)) rotate(math.random() * 10deg);
  // }
  // 25% {
  //   transform: translate((math.random() * 20px), (math.random() * 20px)) rotate(math.random() * 10deg);
  // }
  // 50% {
  //   transform: translate((math.random() * 20px), (math.random() * 20px)) rotate(math.random() * 10deg);
  // }
  // 75% {
  //   transform: translate((math.random() * 20px), (math.random() * 20px)) rotate(math.random() * 10deg);
  // }
    0% {
      transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
    }
  
    25% {
      transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
    }
  
    50% {
      transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
    }
  
    75% {
      transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
    }
}