@use 'sass:math';

@function width ( $width ) {
  @return math.div($width, 1920) * 100vw;
}

@function height ($height ) {
  @return math.div($height, 1080) * 100vh;
}

.display-none {
  display: none!important;
}

.scale0-to-origin {
  scale: 0 !important;
}