@use "./utility.scss";
@use "./header.scss";
@use "./amination.scss";
@use 'sass:math';

.case-example {
  background: #252A31;
  height: 100%;

  $sec: 12s;
  .head {
    padding-top: utility.height(39);
    padding-left: utility.width(34);
    padding-right: utility.width(34);
    padding-bottom: utility.height(36);

    height: utility.height(152);
    box-sizing: border-box;

    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
  }

  .container {
    position: relative;
  }
  video {
    object-fit: cover;
  }
  .background {
    background: #252A31;
    opacity: 0.4;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0px;
    top: 0px;
    margin: auto;
  }

  .background {
    // wait video end, show content
    &.hidden {
      opacity: 0;
      transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity .3s .3s;
    }
    & + .content.hidden {
      opacity: 0;
      transition: opacity .3s;
    }
    &.show {
      opacity: 0.4;
      transition: opacity .3s;
      & +.content.show {
        opacity: 1;
        transition: opacity .3s .3s;
      }
    }
  }
  .content {
    position: absolute;
    right: 0;
    top: 0px;
    margin: 48px 84px;

    max-width: 557px;



    display: flex;
    flex-direction: column;
    &-options {
      flex: none;
    }
    &-text {
      flex: auto;
    }

    &-option {
      display: inline-block;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 20px;
      line-height: 1.2;

      background: #E0E0E0;
      color: #939DAE;
      border-bottom: solid 3px #939DAE;
      &.active {
        background: #FFFFFF;
        color: #005694;
        border-bottom: solid 3px #005694;
      }
      padding: 14px 20px;
      & + & {
        margin: left;
      }
    }

    &-text {
      background: #FFFFFF;
      padding: 30px;
      font-family: 'Montserrat';
      font-size: 24px;
      line-height: 1.42;
      color: #252A31;

      > img {
        display: block;
        margin-top: 16px;
      }

      .features {
        margin-top: 16px;

        &-item {
          font-family: 'Montserrat';
          font-size: 16px;
          line-height: 1.25;
          color: #252A31;
          
          display: flex;
          align-items: center;
          gap: 8px;
          margin-top: 8px;
          img {
            flex: none;
          }
        }

        img {
          width: 60px;
          display: block;
          float: left;
        }
      }
    }
  }

  .bubble {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bubble-case1-1 {
    position: absolute;
    left: 11.48vw;
    top: 36.13vh;
    width: 607.5px;
    height: 395px;
  }
  .bubble-case2-1 {
    position: absolute;
    left: 18.72vh;
    top: 21vw;
    width: 475.27px;
    height: 378px;
  }
  .bubble-case3-1 {
    position: absolute;
    left: 3.33vw;
    top: 44.63vh;
    width: 700.5px;
    height: 395px;
  }
  .bubble-case3-2 {
    position: absolute;
    width: 816px;
    height: 354.05px;
    left: 372px;
    top: 195px;
  }
  .bubble-case4-1 {
    position: absolute;
    width: 514.03px;
    height: 529px;
    left: 8.22vw;
    top: 26.11vh;
  }
  .bubble-case5-1 {
    position: absolute;
    left: 14.11vw;
    top: 31.67vh;
    width: 640.49px;
    height: 395px;
  }
  .bubble-case6-1 {
    position: absolute;
    left: 5.89vw;
    top: 32.5vh;
    width: 566.06px;
    height: 395px;
  }
}
