@use "./utility.scss";
@use "./header.scss";
@use "./amination.scss";
@use 'sass:math';

.case-example {
  background: #252A31;
  height: 100%;

  $sec: 12s;
  .head {
    padding-top: utility.height(39);
    padding-left: utility.width(34);
    padding-right: utility.width(34);
    padding-bottom: utility.height(36);

    height: utility.height(152);
    box-sizing: border-box;

    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
  }

  .container {
    position: relative;
  }
  video {
    object-fit: cover;
  }
  .background {
    background: #252A31;
    opacity: 0.4;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0px;
    top: 0px;
    margin: auto;
  }

  .background {
    // wait video end, show content
    &.hidden {
      opacity: 0;
      transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity .3s .3s;
    }
    & + .content.hidden {
      opacity: 0;
      transition: opacity .3s;
    }
    &.show {
      opacity: 0.4;
      transition: opacity .3s;
      & +.content.show {
        opacity: 1;
        transition: opacity .3s .3s;
      }
    }
  }
  .content {
    position: absolute;
    right: 0;
    top: 0px;
    margin: 48px 84px;

    max-width: 557px;



    display: flex;
    flex-direction: column;
    &-options {
      flex: none;
    }
    &-text {
      flex: auto;
    }

    &-option {
      display: inline-block;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 20px;
      line-height: 1.2;

      background: #E0E0E0;
      color: #939DAE;
      border-bottom: solid 3px #939DAE;
      &.active {
        background: #FFFFFF;
        color: #005694;
        border-bottom: solid 3px #005694;
      }
      padding: 14px 20px;
      & + & {
        margin: left;
      }
    }

    &-text {
      background: #FFFFFF;
      padding: 30px;
      font-family: 'Montserrat';
      font-size: 24px;
      line-height: 1.42;
      color: #252A31;

      > img {
        display: block;
        margin-top: 16px;
      }
    }
  }
}
