@use "utility.scss";
@use 'nav-page.scss';
@use 'product-category.scss';
@use 'case-study.scss';
@use 'about-sinbon.scss';

body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
}

.app {
  display: block;
  position: relative;
}

.transition-next-page {
  width: 10vw;
  height: 10vw;
  border-radius: 4000px;
  background-color: #005694;

  transition: scale .3s;
  scale: 15;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}