@use "utility.scss";
@use 'sass:math';
@use "./header.scss";
@use "./amination.scss";

.nav-page {
  .head {
    margin-top: utility.height(37);
    margin-left: utility.width(60);
    margin-right: utility.width(60);
  }

  .main-nav {
    display: flex;
    align-items: center;
    margin-left: utility.width(100);
    margin-right: utility.width(100);
    margin-top: utility.height(379.37);
    &-item {
      flex: 1 1 auto;
      padding-left: utility.width(100);
      padding-right: utility.width(100);
      box-sizing: border-box;
    }
    
    &-item {
      transition: scale .3s;
      scale: 1;
      position: relative;
      text-align: center;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: block;
        z-index: 0;
        width: utility.width(369);
      }
      .text {
        line-height: 1em;
        font-size: 3.13em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        position: relative;
        z-index: 10;  
        pointer-events: none;
      }
    }
  
    .shape {
      // 為了置中，高不用訂死
      // height: utility.height(369);
      $sec: 12s;
  
      &:nth-child(1){
        img {
          transform: 
            rotate(-26deg) 
            translate(-21px, -61px) 
            scale(math.div(411.82, 369));
        }
        // animation: floating ($sec * math.random()) infinite alternate;
        animation: floating 3.3898021649s ease-in-out infinite alternate;
      }
      &:nth-child(2){
        // animation: floating ($sec * math.random()) infinite alternate-reverse;
        animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
        img {
            transform: scale(1);
          }
      }
      &:nth-child(3){
        img {
          transform: 
            rotate(-15deg) 
            scale(math.div(302.21, 369));
        }
        animation: floating 6.524291946s ease-in-out infinite alternate;
      }
    }
  }
}
  
.cover-for-click {
  // outline: solid red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100000;
  width: 20vw;
  height: 20vw;
}
  
