@use "./utility.scss";
.pop-up {
  background-color: #6b6b6b99;
  
  position: absolute;
  top: 30000px;
  left: 30000px;
  bottom: 0;
  right: 0;
  margin: auto;
  
  &.show {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  opacity: 0;
  transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity .3s .3s;
  .content {
    opacity: 0;
    transition: opacity .3s;
  }
  &.show {
    opacity: 1;
    transition: opacity .3s;
    .content {
      opacity: 1;
      transition: opacity .3s .3s;
    }
  }
}