@use "./utility.scss";
@use "./header.scss";
@use "./amination.scss";
@use 'sass:math';


.product-category {
  $sec: 12s;
  .header {
    margin-top: utility.height(59);
    margin-left: utility.width(60);
    margin-right: utility.width(60);
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: utility.width(60);
    margin-right: utility.width(60);
    
    &-item {
      &:nth-child(1) {
        flex: 1 0 26vw;
      }
      text-align: center;
      height: 22em;

      // 為了內部排版
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .option {
    display: inline-block;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
      transform-origin: center;
    }

    span {
      font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.56em;
        pointer-events: none;
        color: #FFFFFF;
    }
  }
  .shape {
    width: utility.width(218);
    // height: utility.height(218);
  }
  .option {
    width: utility.width(218);
    // height: utility.height(218);
  }


  // 形狀旋轉
  .triangle {
    width: utility.width(240);
    // height: utility.height(240);
    // line-height: 10em;
    img {
      scale: 1.12;
      left: 0;
    }
    &:nth-child(1) {
          animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate-reverse;
      img {
        rotate: -9.35deg;
        top: 0;
        bottom: 70px;
        left: 0;
        right: 10px;
      }
    }
    &:nth-child(2) {
      animation: floating 4.3728878885s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      img {
        rotate: 100.68deg;
        top: 0;
        bottom: 0;
        left: 30px;
        right: 0;
      }
    }
    &:nth-child(3) {
      animation: floating 7.020452753s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      img {
        rotate: -64.64deg;
        top: 0;
        bottom: 40px;
        left: -60px;
        right: 0;
      }
    }
    &:nth-child(4) {
      animation: floating 4.3379028587s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      img {
        rotate: -80.4deg;
        top: 0;
        bottom: 0;
        left: -55px;
        right: 0;
      }
    }
  }

  .circle {
    scale: 1;
    img {
      scale: 0.9;
    }
    
    $spacer: 60px;
    &:nth-child(1) {
      animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
    }
    
    &:nth-child(2) {
      margin-top: $spacer;
      animation: floating 5.3613873204s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
    }
    
    &:nth-child(3) {
      margin-top: $spacer * 2;
      animation: floating 5.9087350152s ease-in-out infinite alternate-reverse;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
    }
    
    &:nth-child(4) {
      margin-top: $spacer;
      animation: floating 3.580243699s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
    }
    
    &:nth-child(5) {
      margin-top: $spacer * 2;
      animation: floating 6.6803234705s ease-in-out infinite alternate-reverse;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
    }
  }

  .rectangle {
    width: utility.width(240);
    // height: utility.height(240);
    // line-height: 12em;
    img {
      scale: 0.88;
    }
    
    $spacer: 60px;
    &:nth-child(1) {
      animation: floating 9.3131782653s ease-in-out infinite alternate;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      img {
        rotate: -15deg;
      }
    }

    &:nth-child(2) {
      margin-top: $spacer * .7;
      animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      img {
        rotate: 14.97deg;
      }
    }

    &:nth-child(3) {
      margin-top: $spacer * 1.2;
      // animation: floating ($sec * math.random()) ease-in-out infinite alternate;
      animation: floating 8.4659051938s ease-in-out infinite alternate;
      img {
        rotate: 2.59deg;
      }
    }
  }
}
