.display-none {
  display: none !important;
}

.scale-0 {
  scale: 0 !important;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .back-prev {
  position: relative;
}
.head .back-prev .title {
  position: absolute;
  left: 4.1666666667vw;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2.69em;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: fit-content;
  padding-left: 0.79em;
  /* blueGray/blueGray */
  color: #939DAE;
}
.head .back-prev,
.head .options,
.head .sinbon-logo {
  flex: none;
  width: 10.7291666667vw;
}
.head .icon-close,
.head .back-prev,
.head .options {
  flex: none;
  width: 4.1666666667vw;
}
.head .icon-close img,
.head .back-prev img,
.head .options img {
  width: 100%;
}

@keyframes floating {
  0% {
    transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
  }
}
.nav-page .head {
  margin-top: 3.4259259259vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.nav-page .main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 35.1268518519vh;
}
.nav-page .main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
  box-sizing: border-box;
}
.nav-page .main-nav-item {
  transition: scale 0.3s;
  scale: 1;
  position: relative;
  text-align: center;
}
.nav-page .main-nav-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: 0;
  width: 19.21875vw;
}
.nav-page .main-nav-item .text {
  line-height: 1em;
  font-size: 3.13em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
  pointer-events: none;
}
.nav-page .main-nav .shape:nth-child(1) {
  animation: floating 3.3898021649s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(1) img {
  transform: rotate(-26deg) translate(-21px, -61px) scale(1.1160433604);
}
.nav-page .main-nav .shape:nth-child(2) {
  animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
}
.nav-page .main-nav .shape:nth-child(2) img {
  transform: scale(1);
}
.nav-page .main-nav .shape:nth-child(3) img {
  transform: rotate(-15deg) scale(0.81899729);
}

.cover-for-click {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100000;
  width: 20vw;
  height: 20vw;
}

.product-category .head {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body-item {
  text-align: center;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-category .body-item:nth-child(1) {
  flex: 1 0 26vw;
}
.product-category .option {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-category .option img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transform-origin: center;
}
.product-category .option span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.56em;
  pointer-events: none;
  color: #FFFFFF;
}
.product-category .shape {
  width: 11.3541666667vw;
}
.product-category .option {
  width: 11.3541666667vw;
}
.product-category .triangle {
  width: 12.5vw;
}
.product-category .triangle img {
  scale: 1.12;
  left: 0;
}
.product-category .triangle:nth-child(1) {
  animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
}
.product-category .triangle:nth-child(1) img {
  rotate: -9.35deg;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 10px;
}
.product-category .triangle:nth-child(2) {
  animation: floating 4.3728878885s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(2) img {
  rotate: 100.68deg;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 0;
}
.product-category .triangle:nth-child(3) {
  animation: floating 7.020452753s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(3) img {
  rotate: -64.64deg;
  top: 0;
  bottom: 40px;
  left: -60px;
  right: 0;
}
.product-category .triangle:nth-child(4) {
  animation: floating 4.3379028587s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(4) img {
  rotate: -80.4deg;
  top: 0;
  bottom: 0;
  left: -55px;
  right: 0;
}
.product-category .circle {
  scale: 1;
}
.product-category .circle img {
  scale: 0.9;
}
.product-category .circle:nth-child(1) {
  animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(2) {
  margin-top: 60px;
  animation: floating 5.3613873204s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(3) {
  margin-top: 120px;
  animation: floating 5.9087350152s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(4) {
  margin-top: 60px;
  animation: floating 3.580243699s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(5) {
  margin-top: 120px;
  animation: floating 6.6803234705s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle {
  width: 12.5vw;
}
.product-category .rectangle img {
  scale: 0.88;
}
.product-category .rectangle:nth-child(1) {
  animation: floating 9.3131782653s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(1) img {
  rotate: -15deg;
}
.product-category .rectangle:nth-child(2) {
  margin-top: 42px;
  animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle:nth-child(2) img {
  rotate: 14.97deg;
}
.product-category .rectangle:nth-child(3) {
  margin-top: 72px;
  animation: floating 8.4659051938s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(3) img {
  rotate: 2.59deg;
}

.production .background-title {
  opacity: 1;
  translate: 0px;
  transition: opacity 0.5s ease-in-out, translate 0.5s ease-in-out;
}
.production .background-title.initial {
  opacity: 0;
  translate: 100px 0px;
}
.production.electric-vehicle .title h2, .production.electric-vehicle .title h1 {
  background-image: linear-gradient(90deg, #0095DA 100%, transparent 100%);
  animation: bacnground-color-transition1 0.5s forwards;
}
.production.electric-vehicle .title h2.initial, .production.electric-vehicle .title h1.initial {
  animation: none;
}
.production.robotics .title h2, .production.robotics .title h1 {
  background-image: linear-gradient(90deg, #F58F5C 100%, transparent 100%);
  animation: bacnground-color-transition2 0.5s forwards;
}
.production.robotics .title h2.initial, .production.robotics .title h1.initial {
  animation: none;
}
.production.patient-monitoring .title h2, .production.patient-monitoring .title h1 {
  background-image: linear-gradient(90deg, #EE3034 100%, transparent 100%);
  animation: bacnground-color-transition3 0.5s forwards;
}
.production.patient-monitoring .title h2.initial, .production.patient-monitoring .title h1.initial {
  animation: none;
}
.production .title .photo {
  opacity: 1;
  translate: 0px;
  transition: opacity 0.5s ease-in-out, translate 0.5s ease-in-out;
}
.production .title .photo.initial {
  opacity: 0;
  translate: -100px 0px;
}

@keyframes bacnground-color-transition1 {
  0% {
    background-image: linear-gradient(90deg, #0095DA 0%, transparent 0%);
  }
  1% {
    background-image: linear-gradient(90deg, #0095DA 1%, transparent 1%);
  }
  2% {
    background-image: linear-gradient(90deg, #0095DA 2%, transparent 2%);
  }
  3% {
    background-image: linear-gradient(90deg, #0095DA 3%, transparent 3%);
  }
  4% {
    background-image: linear-gradient(90deg, #0095DA 4%, transparent 4%);
  }
  5% {
    background-image: linear-gradient(90deg, #0095DA 5%, transparent 5%);
  }
  6% {
    background-image: linear-gradient(90deg, #0095DA 6%, transparent 6%);
  }
  7% {
    background-image: linear-gradient(90deg, #0095DA 7%, transparent 7%);
  }
  8% {
    background-image: linear-gradient(90deg, #0095DA 8%, transparent 8%);
  }
  9% {
    background-image: linear-gradient(90deg, #0095DA 9%, transparent 9%);
  }
  10% {
    background-image: linear-gradient(90deg, #0095DA 10%, transparent 10%);
  }
  11% {
    background-image: linear-gradient(90deg, #0095DA 11%, transparent 11%);
  }
  12% {
    background-image: linear-gradient(90deg, #0095DA 12%, transparent 12%);
  }
  13% {
    background-image: linear-gradient(90deg, #0095DA 13%, transparent 13%);
  }
  14% {
    background-image: linear-gradient(90deg, #0095DA 14%, transparent 14%);
  }
  15% {
    background-image: linear-gradient(90deg, #0095DA 15%, transparent 15%);
  }
  16% {
    background-image: linear-gradient(90deg, #0095DA 16%, transparent 16%);
  }
  17% {
    background-image: linear-gradient(90deg, #0095DA 17%, transparent 17%);
  }
  18% {
    background-image: linear-gradient(90deg, #0095DA 18%, transparent 18%);
  }
  19% {
    background-image: linear-gradient(90deg, #0095DA 19%, transparent 19%);
  }
  20% {
    background-image: linear-gradient(90deg, #0095DA 20%, transparent 20%);
  }
  21% {
    background-image: linear-gradient(90deg, #0095DA 21%, transparent 21%);
  }
  22% {
    background-image: linear-gradient(90deg, #0095DA 22%, transparent 22%);
  }
  23% {
    background-image: linear-gradient(90deg, #0095DA 23%, transparent 23%);
  }
  24% {
    background-image: linear-gradient(90deg, #0095DA 24%, transparent 24%);
  }
  25% {
    background-image: linear-gradient(90deg, #0095DA 25%, transparent 25%);
  }
  26% {
    background-image: linear-gradient(90deg, #0095DA 26%, transparent 26%);
  }
  27% {
    background-image: linear-gradient(90deg, #0095DA 27%, transparent 27%);
  }
  28% {
    background-image: linear-gradient(90deg, #0095DA 28%, transparent 28%);
  }
  29% {
    background-image: linear-gradient(90deg, #0095DA 29%, transparent 29%);
  }
  30% {
    background-image: linear-gradient(90deg, #0095DA 30%, transparent 30%);
  }
  31% {
    background-image: linear-gradient(90deg, #0095DA 31%, transparent 31%);
  }
  32% {
    background-image: linear-gradient(90deg, #0095DA 32%, transparent 32%);
  }
  33% {
    background-image: linear-gradient(90deg, #0095DA 33%, transparent 33%);
  }
  34% {
    background-image: linear-gradient(90deg, #0095DA 34%, transparent 34%);
  }
  35% {
    background-image: linear-gradient(90deg, #0095DA 35%, transparent 35%);
  }
  36% {
    background-image: linear-gradient(90deg, #0095DA 36%, transparent 36%);
  }
  37% {
    background-image: linear-gradient(90deg, #0095DA 37%, transparent 37%);
  }
  38% {
    background-image: linear-gradient(90deg, #0095DA 38%, transparent 38%);
  }
  39% {
    background-image: linear-gradient(90deg, #0095DA 39%, transparent 39%);
  }
  40% {
    background-image: linear-gradient(90deg, #0095DA 40%, transparent 40%);
  }
  41% {
    background-image: linear-gradient(90deg, #0095DA 41%, transparent 41%);
  }
  42% {
    background-image: linear-gradient(90deg, #0095DA 42%, transparent 42%);
  }
  43% {
    background-image: linear-gradient(90deg, #0095DA 43%, transparent 43%);
  }
  44% {
    background-image: linear-gradient(90deg, #0095DA 44%, transparent 44%);
  }
  45% {
    background-image: linear-gradient(90deg, #0095DA 45%, transparent 45%);
  }
  46% {
    background-image: linear-gradient(90deg, #0095DA 46%, transparent 46%);
  }
  47% {
    background-image: linear-gradient(90deg, #0095DA 47%, transparent 47%);
  }
  48% {
    background-image: linear-gradient(90deg, #0095DA 48%, transparent 48%);
  }
  49% {
    background-image: linear-gradient(90deg, #0095DA 49%, transparent 49%);
  }
  50% {
    background-image: linear-gradient(90deg, #0095DA 50%, transparent 50%);
  }
  51% {
    background-image: linear-gradient(90deg, #0095DA 51%, transparent 51%);
  }
  52% {
    background-image: linear-gradient(90deg, #0095DA 52%, transparent 52%);
  }
  53% {
    background-image: linear-gradient(90deg, #0095DA 53%, transparent 53%);
  }
  54% {
    background-image: linear-gradient(90deg, #0095DA 54%, transparent 54%);
  }
  55% {
    background-image: linear-gradient(90deg, #0095DA 55%, transparent 55%);
  }
  56% {
    background-image: linear-gradient(90deg, #0095DA 56%, transparent 56%);
  }
  57% {
    background-image: linear-gradient(90deg, #0095DA 57%, transparent 57%);
  }
  58% {
    background-image: linear-gradient(90deg, #0095DA 58%, transparent 58%);
  }
  59% {
    background-image: linear-gradient(90deg, #0095DA 59%, transparent 59%);
  }
  60% {
    background-image: linear-gradient(90deg, #0095DA 60%, transparent 60%);
  }
  61% {
    background-image: linear-gradient(90deg, #0095DA 61%, transparent 61%);
  }
  62% {
    background-image: linear-gradient(90deg, #0095DA 62%, transparent 62%);
  }
  63% {
    background-image: linear-gradient(90deg, #0095DA 63%, transparent 63%);
  }
  64% {
    background-image: linear-gradient(90deg, #0095DA 64%, transparent 64%);
  }
  65% {
    background-image: linear-gradient(90deg, #0095DA 65%, transparent 65%);
  }
  66% {
    background-image: linear-gradient(90deg, #0095DA 66%, transparent 66%);
  }
  67% {
    background-image: linear-gradient(90deg, #0095DA 67%, transparent 67%);
  }
  68% {
    background-image: linear-gradient(90deg, #0095DA 68%, transparent 68%);
  }
  69% {
    background-image: linear-gradient(90deg, #0095DA 69%, transparent 69%);
  }
  70% {
    background-image: linear-gradient(90deg, #0095DA 70%, transparent 70%);
  }
  71% {
    background-image: linear-gradient(90deg, #0095DA 71%, transparent 71%);
  }
  72% {
    background-image: linear-gradient(90deg, #0095DA 72%, transparent 72%);
  }
  73% {
    background-image: linear-gradient(90deg, #0095DA 73%, transparent 73%);
  }
  74% {
    background-image: linear-gradient(90deg, #0095DA 74%, transparent 74%);
  }
  75% {
    background-image: linear-gradient(90deg, #0095DA 75%, transparent 75%);
  }
  76% {
    background-image: linear-gradient(90deg, #0095DA 76%, transparent 76%);
  }
  77% {
    background-image: linear-gradient(90deg, #0095DA 77%, transparent 77%);
  }
  78% {
    background-image: linear-gradient(90deg, #0095DA 78%, transparent 78%);
  }
  79% {
    background-image: linear-gradient(90deg, #0095DA 79%, transparent 79%);
  }
  80% {
    background-image: linear-gradient(90deg, #0095DA 80%, transparent 80%);
  }
  81% {
    background-image: linear-gradient(90deg, #0095DA 81%, transparent 81%);
  }
  82% {
    background-image: linear-gradient(90deg, #0095DA 82%, transparent 82%);
  }
  83% {
    background-image: linear-gradient(90deg, #0095DA 83%, transparent 83%);
  }
  84% {
    background-image: linear-gradient(90deg, #0095DA 84%, transparent 84%);
  }
  85% {
    background-image: linear-gradient(90deg, #0095DA 85%, transparent 85%);
  }
  86% {
    background-image: linear-gradient(90deg, #0095DA 86%, transparent 86%);
  }
  87% {
    background-image: linear-gradient(90deg, #0095DA 87%, transparent 87%);
  }
  88% {
    background-image: linear-gradient(90deg, #0095DA 88%, transparent 88%);
  }
  89% {
    background-image: linear-gradient(90deg, #0095DA 89%, transparent 89%);
  }
  90% {
    background-image: linear-gradient(90deg, #0095DA 90%, transparent 90%);
  }
  91% {
    background-image: linear-gradient(90deg, #0095DA 91%, transparent 91%);
  }
  92% {
    background-image: linear-gradient(90deg, #0095DA 92%, transparent 92%);
  }
  93% {
    background-image: linear-gradient(90deg, #0095DA 93%, transparent 93%);
  }
  94% {
    background-image: linear-gradient(90deg, #0095DA 94%, transparent 94%);
  }
  95% {
    background-image: linear-gradient(90deg, #0095DA 95%, transparent 95%);
  }
  96% {
    background-image: linear-gradient(90deg, #0095DA 96%, transparent 96%);
  }
  97% {
    background-image: linear-gradient(90deg, #0095DA 97%, transparent 97%);
  }
  98% {
    background-image: linear-gradient(90deg, #0095DA 98%, transparent 98%);
  }
  99% {
    background-image: linear-gradient(90deg, #0095DA 99%, transparent 99%);
  }
}
@keyframes bacnground-color-transition2 {
  0% {
    background-image: linear-gradient(90deg, #F58F5C 0%, transparent 0%);
  }
  1% {
    background-image: linear-gradient(90deg, #F58F5C 1%, transparent 1%);
  }
  2% {
    background-image: linear-gradient(90deg, #F58F5C 2%, transparent 2%);
  }
  3% {
    background-image: linear-gradient(90deg, #F58F5C 3%, transparent 3%);
  }
  4% {
    background-image: linear-gradient(90deg, #F58F5C 4%, transparent 4%);
  }
  5% {
    background-image: linear-gradient(90deg, #F58F5C 5%, transparent 5%);
  }
  6% {
    background-image: linear-gradient(90deg, #F58F5C 6%, transparent 6%);
  }
  7% {
    background-image: linear-gradient(90deg, #F58F5C 7%, transparent 7%);
  }
  8% {
    background-image: linear-gradient(90deg, #F58F5C 8%, transparent 8%);
  }
  9% {
    background-image: linear-gradient(90deg, #F58F5C 9%, transparent 9%);
  }
  10% {
    background-image: linear-gradient(90deg, #F58F5C 10%, transparent 10%);
  }
  11% {
    background-image: linear-gradient(90deg, #F58F5C 11%, transparent 11%);
  }
  12% {
    background-image: linear-gradient(90deg, #F58F5C 12%, transparent 12%);
  }
  13% {
    background-image: linear-gradient(90deg, #F58F5C 13%, transparent 13%);
  }
  14% {
    background-image: linear-gradient(90deg, #F58F5C 14%, transparent 14%);
  }
  15% {
    background-image: linear-gradient(90deg, #F58F5C 15%, transparent 15%);
  }
  16% {
    background-image: linear-gradient(90deg, #F58F5C 16%, transparent 16%);
  }
  17% {
    background-image: linear-gradient(90deg, #F58F5C 17%, transparent 17%);
  }
  18% {
    background-image: linear-gradient(90deg, #F58F5C 18%, transparent 18%);
  }
  19% {
    background-image: linear-gradient(90deg, #F58F5C 19%, transparent 19%);
  }
  20% {
    background-image: linear-gradient(90deg, #F58F5C 20%, transparent 20%);
  }
  21% {
    background-image: linear-gradient(90deg, #F58F5C 21%, transparent 21%);
  }
  22% {
    background-image: linear-gradient(90deg, #F58F5C 22%, transparent 22%);
  }
  23% {
    background-image: linear-gradient(90deg, #F58F5C 23%, transparent 23%);
  }
  24% {
    background-image: linear-gradient(90deg, #F58F5C 24%, transparent 24%);
  }
  25% {
    background-image: linear-gradient(90deg, #F58F5C 25%, transparent 25%);
  }
  26% {
    background-image: linear-gradient(90deg, #F58F5C 26%, transparent 26%);
  }
  27% {
    background-image: linear-gradient(90deg, #F58F5C 27%, transparent 27%);
  }
  28% {
    background-image: linear-gradient(90deg, #F58F5C 28%, transparent 28%);
  }
  29% {
    background-image: linear-gradient(90deg, #F58F5C 29%, transparent 29%);
  }
  30% {
    background-image: linear-gradient(90deg, #F58F5C 30%, transparent 30%);
  }
  31% {
    background-image: linear-gradient(90deg, #F58F5C 31%, transparent 31%);
  }
  32% {
    background-image: linear-gradient(90deg, #F58F5C 32%, transparent 32%);
  }
  33% {
    background-image: linear-gradient(90deg, #F58F5C 33%, transparent 33%);
  }
  34% {
    background-image: linear-gradient(90deg, #F58F5C 34%, transparent 34%);
  }
  35% {
    background-image: linear-gradient(90deg, #F58F5C 35%, transparent 35%);
  }
  36% {
    background-image: linear-gradient(90deg, #F58F5C 36%, transparent 36%);
  }
  37% {
    background-image: linear-gradient(90deg, #F58F5C 37%, transparent 37%);
  }
  38% {
    background-image: linear-gradient(90deg, #F58F5C 38%, transparent 38%);
  }
  39% {
    background-image: linear-gradient(90deg, #F58F5C 39%, transparent 39%);
  }
  40% {
    background-image: linear-gradient(90deg, #F58F5C 40%, transparent 40%);
  }
  41% {
    background-image: linear-gradient(90deg, #F58F5C 41%, transparent 41%);
  }
  42% {
    background-image: linear-gradient(90deg, #F58F5C 42%, transparent 42%);
  }
  43% {
    background-image: linear-gradient(90deg, #F58F5C 43%, transparent 43%);
  }
  44% {
    background-image: linear-gradient(90deg, #F58F5C 44%, transparent 44%);
  }
  45% {
    background-image: linear-gradient(90deg, #F58F5C 45%, transparent 45%);
  }
  46% {
    background-image: linear-gradient(90deg, #F58F5C 46%, transparent 46%);
  }
  47% {
    background-image: linear-gradient(90deg, #F58F5C 47%, transparent 47%);
  }
  48% {
    background-image: linear-gradient(90deg, #F58F5C 48%, transparent 48%);
  }
  49% {
    background-image: linear-gradient(90deg, #F58F5C 49%, transparent 49%);
  }
  50% {
    background-image: linear-gradient(90deg, #F58F5C 50%, transparent 50%);
  }
  51% {
    background-image: linear-gradient(90deg, #F58F5C 51%, transparent 51%);
  }
  52% {
    background-image: linear-gradient(90deg, #F58F5C 52%, transparent 52%);
  }
  53% {
    background-image: linear-gradient(90deg, #F58F5C 53%, transparent 53%);
  }
  54% {
    background-image: linear-gradient(90deg, #F58F5C 54%, transparent 54%);
  }
  55% {
    background-image: linear-gradient(90deg, #F58F5C 55%, transparent 55%);
  }
  56% {
    background-image: linear-gradient(90deg, #F58F5C 56%, transparent 56%);
  }
  57% {
    background-image: linear-gradient(90deg, #F58F5C 57%, transparent 57%);
  }
  58% {
    background-image: linear-gradient(90deg, #F58F5C 58%, transparent 58%);
  }
  59% {
    background-image: linear-gradient(90deg, #F58F5C 59%, transparent 59%);
  }
  60% {
    background-image: linear-gradient(90deg, #F58F5C 60%, transparent 60%);
  }
  61% {
    background-image: linear-gradient(90deg, #F58F5C 61%, transparent 61%);
  }
  62% {
    background-image: linear-gradient(90deg, #F58F5C 62%, transparent 62%);
  }
  63% {
    background-image: linear-gradient(90deg, #F58F5C 63%, transparent 63%);
  }
  64% {
    background-image: linear-gradient(90deg, #F58F5C 64%, transparent 64%);
  }
  65% {
    background-image: linear-gradient(90deg, #F58F5C 65%, transparent 65%);
  }
  66% {
    background-image: linear-gradient(90deg, #F58F5C 66%, transparent 66%);
  }
  67% {
    background-image: linear-gradient(90deg, #F58F5C 67%, transparent 67%);
  }
  68% {
    background-image: linear-gradient(90deg, #F58F5C 68%, transparent 68%);
  }
  69% {
    background-image: linear-gradient(90deg, #F58F5C 69%, transparent 69%);
  }
  70% {
    background-image: linear-gradient(90deg, #F58F5C 70%, transparent 70%);
  }
  71% {
    background-image: linear-gradient(90deg, #F58F5C 71%, transparent 71%);
  }
  72% {
    background-image: linear-gradient(90deg, #F58F5C 72%, transparent 72%);
  }
  73% {
    background-image: linear-gradient(90deg, #F58F5C 73%, transparent 73%);
  }
  74% {
    background-image: linear-gradient(90deg, #F58F5C 74%, transparent 74%);
  }
  75% {
    background-image: linear-gradient(90deg, #F58F5C 75%, transparent 75%);
  }
  76% {
    background-image: linear-gradient(90deg, #F58F5C 76%, transparent 76%);
  }
  77% {
    background-image: linear-gradient(90deg, #F58F5C 77%, transparent 77%);
  }
  78% {
    background-image: linear-gradient(90deg, #F58F5C 78%, transparent 78%);
  }
  79% {
    background-image: linear-gradient(90deg, #F58F5C 79%, transparent 79%);
  }
  80% {
    background-image: linear-gradient(90deg, #F58F5C 80%, transparent 80%);
  }
  81% {
    background-image: linear-gradient(90deg, #F58F5C 81%, transparent 81%);
  }
  82% {
    background-image: linear-gradient(90deg, #F58F5C 82%, transparent 82%);
  }
  83% {
    background-image: linear-gradient(90deg, #F58F5C 83%, transparent 83%);
  }
  84% {
    background-image: linear-gradient(90deg, #F58F5C 84%, transparent 84%);
  }
  85% {
    background-image: linear-gradient(90deg, #F58F5C 85%, transparent 85%);
  }
  86% {
    background-image: linear-gradient(90deg, #F58F5C 86%, transparent 86%);
  }
  87% {
    background-image: linear-gradient(90deg, #F58F5C 87%, transparent 87%);
  }
  88% {
    background-image: linear-gradient(90deg, #F58F5C 88%, transparent 88%);
  }
  89% {
    background-image: linear-gradient(90deg, #F58F5C 89%, transparent 89%);
  }
  90% {
    background-image: linear-gradient(90deg, #F58F5C 90%, transparent 90%);
  }
  91% {
    background-image: linear-gradient(90deg, #F58F5C 91%, transparent 91%);
  }
  92% {
    background-image: linear-gradient(90deg, #F58F5C 92%, transparent 92%);
  }
  93% {
    background-image: linear-gradient(90deg, #F58F5C 93%, transparent 93%);
  }
  94% {
    background-image: linear-gradient(90deg, #F58F5C 94%, transparent 94%);
  }
  95% {
    background-image: linear-gradient(90deg, #F58F5C 95%, transparent 95%);
  }
  96% {
    background-image: linear-gradient(90deg, #F58F5C 96%, transparent 96%);
  }
  97% {
    background-image: linear-gradient(90deg, #F58F5C 97%, transparent 97%);
  }
  98% {
    background-image: linear-gradient(90deg, #F58F5C 98%, transparent 98%);
  }
  99% {
    background-image: linear-gradient(90deg, #F58F5C 99%, transparent 99%);
  }
}
@keyframes bacnground-color-transition3 {
  0% {
    background-image: linear-gradient(90deg, #EE3034 0%, transparent 0%);
  }
  1% {
    background-image: linear-gradient(90deg, #EE3034 1%, transparent 1%);
  }
  2% {
    background-image: linear-gradient(90deg, #EE3034 2%, transparent 2%);
  }
  3% {
    background-image: linear-gradient(90deg, #EE3034 3%, transparent 3%);
  }
  4% {
    background-image: linear-gradient(90deg, #EE3034 4%, transparent 4%);
  }
  5% {
    background-image: linear-gradient(90deg, #EE3034 5%, transparent 5%);
  }
  6% {
    background-image: linear-gradient(90deg, #EE3034 6%, transparent 6%);
  }
  7% {
    background-image: linear-gradient(90deg, #EE3034 7%, transparent 7%);
  }
  8% {
    background-image: linear-gradient(90deg, #EE3034 8%, transparent 8%);
  }
  9% {
    background-image: linear-gradient(90deg, #EE3034 9%, transparent 9%);
  }
  10% {
    background-image: linear-gradient(90deg, #EE3034 10%, transparent 10%);
  }
  11% {
    background-image: linear-gradient(90deg, #EE3034 11%, transparent 11%);
  }
  12% {
    background-image: linear-gradient(90deg, #EE3034 12%, transparent 12%);
  }
  13% {
    background-image: linear-gradient(90deg, #EE3034 13%, transparent 13%);
  }
  14% {
    background-image: linear-gradient(90deg, #EE3034 14%, transparent 14%);
  }
  15% {
    background-image: linear-gradient(90deg, #EE3034 15%, transparent 15%);
  }
  16% {
    background-image: linear-gradient(90deg, #EE3034 16%, transparent 16%);
  }
  17% {
    background-image: linear-gradient(90deg, #EE3034 17%, transparent 17%);
  }
  18% {
    background-image: linear-gradient(90deg, #EE3034 18%, transparent 18%);
  }
  19% {
    background-image: linear-gradient(90deg, #EE3034 19%, transparent 19%);
  }
  20% {
    background-image: linear-gradient(90deg, #EE3034 20%, transparent 20%);
  }
  21% {
    background-image: linear-gradient(90deg, #EE3034 21%, transparent 21%);
  }
  22% {
    background-image: linear-gradient(90deg, #EE3034 22%, transparent 22%);
  }
  23% {
    background-image: linear-gradient(90deg, #EE3034 23%, transparent 23%);
  }
  24% {
    background-image: linear-gradient(90deg, #EE3034 24%, transparent 24%);
  }
  25% {
    background-image: linear-gradient(90deg, #EE3034 25%, transparent 25%);
  }
  26% {
    background-image: linear-gradient(90deg, #EE3034 26%, transparent 26%);
  }
  27% {
    background-image: linear-gradient(90deg, #EE3034 27%, transparent 27%);
  }
  28% {
    background-image: linear-gradient(90deg, #EE3034 28%, transparent 28%);
  }
  29% {
    background-image: linear-gradient(90deg, #EE3034 29%, transparent 29%);
  }
  30% {
    background-image: linear-gradient(90deg, #EE3034 30%, transparent 30%);
  }
  31% {
    background-image: linear-gradient(90deg, #EE3034 31%, transparent 31%);
  }
  32% {
    background-image: linear-gradient(90deg, #EE3034 32%, transparent 32%);
  }
  33% {
    background-image: linear-gradient(90deg, #EE3034 33%, transparent 33%);
  }
  34% {
    background-image: linear-gradient(90deg, #EE3034 34%, transparent 34%);
  }
  35% {
    background-image: linear-gradient(90deg, #EE3034 35%, transparent 35%);
  }
  36% {
    background-image: linear-gradient(90deg, #EE3034 36%, transparent 36%);
  }
  37% {
    background-image: linear-gradient(90deg, #EE3034 37%, transparent 37%);
  }
  38% {
    background-image: linear-gradient(90deg, #EE3034 38%, transparent 38%);
  }
  39% {
    background-image: linear-gradient(90deg, #EE3034 39%, transparent 39%);
  }
  40% {
    background-image: linear-gradient(90deg, #EE3034 40%, transparent 40%);
  }
  41% {
    background-image: linear-gradient(90deg, #EE3034 41%, transparent 41%);
  }
  42% {
    background-image: linear-gradient(90deg, #EE3034 42%, transparent 42%);
  }
  43% {
    background-image: linear-gradient(90deg, #EE3034 43%, transparent 43%);
  }
  44% {
    background-image: linear-gradient(90deg, #EE3034 44%, transparent 44%);
  }
  45% {
    background-image: linear-gradient(90deg, #EE3034 45%, transparent 45%);
  }
  46% {
    background-image: linear-gradient(90deg, #EE3034 46%, transparent 46%);
  }
  47% {
    background-image: linear-gradient(90deg, #EE3034 47%, transparent 47%);
  }
  48% {
    background-image: linear-gradient(90deg, #EE3034 48%, transparent 48%);
  }
  49% {
    background-image: linear-gradient(90deg, #EE3034 49%, transparent 49%);
  }
  50% {
    background-image: linear-gradient(90deg, #EE3034 50%, transparent 50%);
  }
  51% {
    background-image: linear-gradient(90deg, #EE3034 51%, transparent 51%);
  }
  52% {
    background-image: linear-gradient(90deg, #EE3034 52%, transparent 52%);
  }
  53% {
    background-image: linear-gradient(90deg, #EE3034 53%, transparent 53%);
  }
  54% {
    background-image: linear-gradient(90deg, #EE3034 54%, transparent 54%);
  }
  55% {
    background-image: linear-gradient(90deg, #EE3034 55%, transparent 55%);
  }
  56% {
    background-image: linear-gradient(90deg, #EE3034 56%, transparent 56%);
  }
  57% {
    background-image: linear-gradient(90deg, #EE3034 57%, transparent 57%);
  }
  58% {
    background-image: linear-gradient(90deg, #EE3034 58%, transparent 58%);
  }
  59% {
    background-image: linear-gradient(90deg, #EE3034 59%, transparent 59%);
  }
  60% {
    background-image: linear-gradient(90deg, #EE3034 60%, transparent 60%);
  }
  61% {
    background-image: linear-gradient(90deg, #EE3034 61%, transparent 61%);
  }
  62% {
    background-image: linear-gradient(90deg, #EE3034 62%, transparent 62%);
  }
  63% {
    background-image: linear-gradient(90deg, #EE3034 63%, transparent 63%);
  }
  64% {
    background-image: linear-gradient(90deg, #EE3034 64%, transparent 64%);
  }
  65% {
    background-image: linear-gradient(90deg, #EE3034 65%, transparent 65%);
  }
  66% {
    background-image: linear-gradient(90deg, #EE3034 66%, transparent 66%);
  }
  67% {
    background-image: linear-gradient(90deg, #EE3034 67%, transparent 67%);
  }
  68% {
    background-image: linear-gradient(90deg, #EE3034 68%, transparent 68%);
  }
  69% {
    background-image: linear-gradient(90deg, #EE3034 69%, transparent 69%);
  }
  70% {
    background-image: linear-gradient(90deg, #EE3034 70%, transparent 70%);
  }
  71% {
    background-image: linear-gradient(90deg, #EE3034 71%, transparent 71%);
  }
  72% {
    background-image: linear-gradient(90deg, #EE3034 72%, transparent 72%);
  }
  73% {
    background-image: linear-gradient(90deg, #EE3034 73%, transparent 73%);
  }
  74% {
    background-image: linear-gradient(90deg, #EE3034 74%, transparent 74%);
  }
  75% {
    background-image: linear-gradient(90deg, #EE3034 75%, transparent 75%);
  }
  76% {
    background-image: linear-gradient(90deg, #EE3034 76%, transparent 76%);
  }
  77% {
    background-image: linear-gradient(90deg, #EE3034 77%, transparent 77%);
  }
  78% {
    background-image: linear-gradient(90deg, #EE3034 78%, transparent 78%);
  }
  79% {
    background-image: linear-gradient(90deg, #EE3034 79%, transparent 79%);
  }
  80% {
    background-image: linear-gradient(90deg, #EE3034 80%, transparent 80%);
  }
  81% {
    background-image: linear-gradient(90deg, #EE3034 81%, transparent 81%);
  }
  82% {
    background-image: linear-gradient(90deg, #EE3034 82%, transparent 82%);
  }
  83% {
    background-image: linear-gradient(90deg, #EE3034 83%, transparent 83%);
  }
  84% {
    background-image: linear-gradient(90deg, #EE3034 84%, transparent 84%);
  }
  85% {
    background-image: linear-gradient(90deg, #EE3034 85%, transparent 85%);
  }
  86% {
    background-image: linear-gradient(90deg, #EE3034 86%, transparent 86%);
  }
  87% {
    background-image: linear-gradient(90deg, #EE3034 87%, transparent 87%);
  }
  88% {
    background-image: linear-gradient(90deg, #EE3034 88%, transparent 88%);
  }
  89% {
    background-image: linear-gradient(90deg, #EE3034 89%, transparent 89%);
  }
  90% {
    background-image: linear-gradient(90deg, #EE3034 90%, transparent 90%);
  }
  91% {
    background-image: linear-gradient(90deg, #EE3034 91%, transparent 91%);
  }
  92% {
    background-image: linear-gradient(90deg, #EE3034 92%, transparent 92%);
  }
  93% {
    background-image: linear-gradient(90deg, #EE3034 93%, transparent 93%);
  }
  94% {
    background-image: linear-gradient(90deg, #EE3034 94%, transparent 94%);
  }
  95% {
    background-image: linear-gradient(90deg, #EE3034 95%, transparent 95%);
  }
  96% {
    background-image: linear-gradient(90deg, #EE3034 96%, transparent 96%);
  }
  97% {
    background-image: linear-gradient(90deg, #EE3034 97%, transparent 97%);
  }
  98% {
    background-image: linear-gradient(90deg, #EE3034 98%, transparent 98%);
  }
  99% {
    background-image: linear-gradient(90deg, #EE3034 99%, transparent 99%);
  }
}
.production.electric-vehicle {
  background-image: url("./src/assets/background-triangle.png");
}
.production.electric-vehicle .pagination > .prev, .production.electric-vehicle .pagination .next {
  background-color: #0095DA;
}

.production.robotics {
  background-image: url("./src/assets/background-circle.png");
}
.production.robotics .pagination > .prev, .production.robotics .pagination .next {
  background-color: #F58F5C;
}

.production.patient-monitoring {
  background-image: url("./src/assets/background-rectangle.png");
}
.production.patient-monitoring .pagination > .prev, .production.patient-monitoring .pagination .next {
  background-color: #EE3034;
}

.production {
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.production .icon-close {
  position: absolute;
  right: 34px;
  top: 38px;
  display: block;
  width: 80px;
}
.production .background-title {
  position: absolute;
  top: 133px;
  right: 45px;
  bottom: 25px;
  z-index: 0;
}
.production .background-title > img {
  height: 100%;
}
.production .container {
  display: flex;
  gap: 2%;
  height: 100%;
}
.production .container .title, .production .container .content {
  flex: 1 1 50%;
}
.production .title {
  padding: 67px 0 0 99px;
}
.production .title h2, .production .title h1 {
  flex: none;
  color: #FFF;
  padding: 16px;
  width: fit-content;
  font-family: "Montserrat";
  line-height: 1;
  margin: 18px 0;
}
.production .title h1 {
  font-size: 45px;
  font-weight: bold;
}
.production .title h2 {
  font-size: 36px;
  font-weight: lighter;
}
.production .title .photo {
  margin: 40px 0;
  width: 880px;
}
.production .title .photo > img {
  display: block;
  width: 100%;
}
.production .content {
  padding: 154px 160px 0 0;
}
.production .content .pagination {
  flex: none;
  display: flex;
  align-items: center;
}
.production .content .pagination > .prev, .production .content .pagination .next {
  border-radius: 900px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  line-height: 1;
  padding: 20px;
  position: relative;
}
.production .content .pagination > .prev > img, .production .content .pagination .next > img {
  display: block;
  position: absolute;
  width: 18.85px;
  height: 32.31px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
}
.production .content .pagination span {
  padding: 0 14px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #4F4F4F;
}
.production .content .text {
  position: relative;
  margin: 24px 0;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  color: black;
  opacity: 1;
  height: 765px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  border: solid rgba(255, 255, 255, 0) 40px;
}
.production .content .text section + section {
  margin-top: 2em;
}
.production .content .text b {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  color: #252A31;
}
.production .content .text section {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 32px;
  line-height: 1.2;
  color: #252A31;
  margin: 0;
}

.case-study .head {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.case-study .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.case-study .body-item {
  flex: 1 0 33.33%;
  text-align: center;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.case-study .option {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-study .option img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transform-origin: center;
}
.case-study .option span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.9em;
  color: #FFFFFF;
}
.case-study .shape {
  width: 11.3541666667vw;
}
.case-study .option {
  width: 11.3541666667vw;
}
.case-study .triangle {
  width: 12.5vw;
}
.case-study .triangle img {
  scale: 1.12;
  left: 0;
}
.case-study .triangle:nth-child(1) {
  margin-top: 130px;
  animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
}
.case-study .triangle:nth-child(1) img {
  rotate: -9.35deg;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 10px;
}
.case-study .triangle:nth-child(2) {
  animation: floating 4.3728878885s ease-in-out infinite alternate;
}
.case-study .triangle:nth-child(2) img {
  rotate: 12.16deg;
  top: 0;
  bottom: 65px;
  left: 20px;
  right: 0;
}
.case-study .circle {
  scale: 1;
}
.case-study .circle:nth-child(1) {
  animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
}
.case-study .circle:nth-child(2) {
  margin-top: 150px;
  animation: floating 5.3613873204s ease-in-out infinite alternate;
}
.case-study .rectangle {
  width: 12.5vw;
}
.case-study .rectangle img {
  scale: 0.88;
}
.case-study .rectangle:nth-child(1) {
  margin-top: 42px;
  animation: floating 9.3131782653s ease-in-out infinite alternate;
}
.case-study .rectangle:nth-child(1) img {
  rotate: 10.88deg;
}
.case-study .rectangle:nth-child(2) {
  animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
}
.case-study .rectangle:nth-child(2) img {
  rotate: -4.48deg;
}

.case-example {
  background: #252A31;
  height: 100%;
}
.case-example .head {
  padding-top: 3.6111111111vh;
  padding-left: 1.7708333333vw;
  padding-right: 1.7708333333vw;
  padding-bottom: 3.3333333333vh;
  height: 14.0740740741vh;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
}
.case-example video {
  object-fit: cover;
}

.pop-up {
  background-color: rgba(107, 107, 107, 0.6);
  position: absolute;
  top: 30000px;
  left: 30000px;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity 0.3s 0.3s;
  opacity: 0;
}
.pop-up .content {
  opacity: 0;
  transition: opacity 0.3s;
}
.pop-up.show {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: opacity 0.3s;
}
.pop-up.show .content {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.pop-up .content {
  background-color: #F2F3F4;
  max-width: 683px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 35.5729166667vw;
  height: 65.462962963vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.pop-up .content .head {
  flex: 0;
}
.pop-up .content .head img {
  display: block;
  margin-left: auto;
  width: 4.1666666667vw;
}
.pop-up .content .body {
  flex: 1 1 auto;
}
.pop-up .content .body .qr-code {
  display: block;
  margin: auto;
  object-fit: contain;
  min-width: 435px;
}
.pop-up .content .footer {
  flex: 0;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #252A31;
  padding-bottom: 96px;
}

.ebook {
  background-color: rgba(107, 107, 107, 0.6);
  position: absolute;
  top: 30000px;
  left: 30000px;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity 0.3s 0.3s;
  opacity: 0;
}
.ebook .content {
  opacity: 0;
  transition: opacity 0.3s;
}
.ebook.show {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: opacity 0.3s;
}
.ebook.show .content {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.ebook .content {
  background-color: #F2F3F4;
  width: 80%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.ebook .content .head {
  flex: 0;
}
.ebook .content .head img {
  display: block;
  margin-left: auto;
  width: 4.1666666667vw;
}
.ebook .content .body {
  flex: 1 1 auto;
  border: none;
  padding-top: 1.2em;
}

.about-sinbon > .head {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon > .body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon > .body .content {
  max-width: 1113px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  position: relative;
}
.about-sinbon > .body .content img {
  display: block;
  max-width: 1113px;
}
.about-sinbon > .body .content .read-me-button {
  position: absolute;
  left: 64px;
  bottom: 59.71px;
  width: 212px;
  height: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  color: #005694;
  background: #FFFFFF;
  border-radius: 40px;
  line-height: 2.2;
}
.about-sinbon > .body .qr-code-button {
  background: #FFFFFF;
  /* main */
  border: 4px solid #005694;
  border-radius: 40px;
  padding: 18px 31px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.67em;
  color: #005694;
}
.about-sinbon > .body .qr-code-button img, .about-sinbon > .body .qr-code-button span {
  height: 1em;
  vertical-align: middle;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
  overflow: hidden;
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
}

.transition-next-page {
  width: 10vw;
  height: 10vw;
  border-radius: 4000px;
  background-color: #005694;
  transition: scale 0.3s;
  scale: 15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
