.sinbon-logo {
  width: 10.7291666667vw;
  height: 5.7685185185vh;
  margin: auto;
  margin-top: 3.4259259259vh;
}
.sinbon-logo img {
  width: 100%;
  display: block;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 35.1268518519vh;
}
.main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
  box-sizing: border-box;
}
.main-nav-item {
  position: relative;
  text-align: center;
}
.main-nav-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: -1;
  width: 19.21875vw;
}
.main-nav-item .text {
  line-height: 1em;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
.main-nav .shape:nth-child(1) img {
  transform: rotate(-26deg) translate(-21px, -61px) scale(1.1160433604);
}
.main-nav .shape:nth-child(3) img {
  transform: rotate(-15deg) scale(0.81899729);
}

@keyframes floating {
  0% {
    transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
}

.app {
  display: block;
}
