.display-none {
  display: none !important;
}

.scale-0 {
  scale: 0 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .back-prev {
  position: relative;
}
.header .back-prev .title {
  position: absolute;
  left: 4.1666666667vw;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2.69em;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: fit-content;
  padding-left: 0.79em;
  /* blueGray/blueGray */
  color: #939DAE;
}
.header .back-prev,
.header .options,
.header .sinbon-logo {
  flex: none;
  width: 10.7291666667vw;
}
.header .back-prev,
.header .options {
  flex: none;
  width: 4.1666666667vw;
}
.header .back-prev img,
.header .options img {
  width: 100%;
}

@keyframes floating {
  0% {
    transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
  }
}
.nav-page .header {
  margin-top: 3.4259259259vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.nav-page .main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 35.1268518519vh;
}
.nav-page .main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
  box-sizing: border-box;
}
.nav-page .main-nav-item {
  transition: scale 0.3s;
  scale: 1;
  position: relative;
  text-align: center;
}
.nav-page .main-nav-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: -1;
  width: 19.21875vw;
}
.nav-page .main-nav-item .text {
  line-height: 1em;
  font-size: 3.13em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  pointer-events: none;
}
.nav-page .main-nav .shape:nth-child(1) {
  animation: floating 3.3898021649s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(1) img {
  transform: rotate(-26deg) translate(-21px, -61px) scale(1.1160433604);
}
.nav-page .main-nav .shape:nth-child(2) {
  animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
}
.nav-page .main-nav .shape:nth-child(3) {
  animation: floating 6.524291946s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(3) img {
  transform: rotate(-15deg) scale(0.81899729);
}

.product-category .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body-item {
  text-align: center;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-category .body-item:nth-child(1) {
  flex: 1 0 26vw;
}
.product-category .option {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-category .option img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transform-origin: center;
}
.product-category .option span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.56em;
  pointer-events: none;
  color: #FFFFFF;
}
.product-category .shape {
  width: 11.3541666667vw;
}
.product-category .option {
  width: 11.3541666667vw;
}
.product-category .triangle {
  width: 12.5vw;
}
.product-category .triangle img {
  scale: 1.12;
  left: 0;
}
.product-category .triangle:nth-child(1) {
  animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
}
.product-category .triangle:nth-child(1) img {
  rotate: -9.35deg;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 10px;
}
.product-category .triangle:nth-child(2) {
  animation: floating 4.3728878885s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(2) img {
  rotate: 100.68deg;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 0;
}
.product-category .triangle:nth-child(3) {
  animation: floating 7.020452753s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(3) img {
  rotate: -64.64deg;
  top: 0;
  bottom: 40px;
  left: -60px;
  right: 0;
}
.product-category .triangle:nth-child(4) {
  animation: floating 4.3379028587s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(4) img {
  rotate: -80.4deg;
  top: 0;
  bottom: 0;
  left: -55px;
  right: 0;
}
.product-category .circle {
  scale: 1;
}
.product-category .circle img {
  scale: 0.9;
}
.product-category .circle:nth-child(1) {
  animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(2) {
  margin-top: 60px;
  animation: floating 5.3613873204s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(3) {
  margin-top: 120px;
  animation: floating 5.9087350152s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(4) {
  margin-top: 60px;
  animation: floating 3.580243699s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(5) {
  margin-top: 120px;
  animation: floating 6.6803234705s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle {
  width: 12.5vw;
}
.product-category .rectangle img {
  scale: 0.88;
}
.product-category .rectangle:nth-child(1) {
  animation: floating 9.3131782653s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(1) img {
  rotate: -15deg;
}
.product-category .rectangle:nth-child(2) {
  margin-top: 42px;
  animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle:nth-child(2) img {
  rotate: 14.97deg;
}
.product-category .rectangle:nth-child(3) {
  margin-top: 72px;
  animation: floating 8.4659051938s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(3) img {
  rotate: 2.59deg;
}

.production .background-title {
  opacity: 1;
  translate: 0px;
  transition: opacity 0.5s ease-in-out, translate 0.5s ease-in-out;
}
.production .background-title.initial {
  opacity: 0;
  translate: 100px 0px;
}
.production .title h1, .production .title h2, .production .title .photo {
  opacity: 1;
  translate: 0px;
  transition: opacity 0.5s ease-in-out, translate 0.5s ease-in-out;
}
.production .title h1.initial, .production .title h2.initial, .production .title .photo.initial {
  opacity: 0;
  translate: -100px 0px;
}

.production.electric-vehicle {
  background-image: url("./src/assets/background-triangle.png");
}
.production.electric-vehicle .title h2, .production.electric-vehicle .title h1 {
  background: #0095DA;
}
.production.electric-vehicle .pagination > .prev, .production.electric-vehicle .pagination .next {
  background-color: #0095DA;
}

.production.robotics {
  background-image: url("./src/assets/background-circle.png");
}
.production.robotics .title h2, .production.robotics .title h1 {
  background: #F58F5C;
}
.production.robotics .pagination > .prev, .production.robotics .pagination .next {
  background-color: #F58F5C;
}

.production.patient-monitoring {
  background-image: url("./src/assets/background-rectangle.png");
}
.production.patient-monitoring .title h2, .production.patient-monitoring .title h1 {
  background: #EE3034;
}
.production.patient-monitoring .pagination > .prev, .production.patient-monitoring .pagination .next {
  background-color: #EE3034;
}

.production {
  height: 100%;
  display: flow-root;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.production .icon-close {
  position: absolute;
  right: 34px;
  top: 38px;
  display: block;
  width: 80px;
}
.production .background-title {
  position: absolute;
  top: 133px;
  right: 45px;
  bottom: 25px;
  z-index: 0;
}
.production .background-title > img {
  height: 100%;
}
.production .container {
  display: flex;
}
.production .container .title, .production .container .content {
  flex: 1 1 50%;
}
.production .title {
  padding: 67px 0 0 99px;
}
.production .title h2, .production .title h1 {
  flex: none;
  color: #FFF;
  padding: 16px;
  width: fit-content;
  font-family: "Montserrat";
  line-height: 1;
  margin: 18px 0;
}
.production .title h1 {
  font-size: 45px;
  font-weight: bold;
}
.production .title h2 {
  font-size: 36px;
  font-weight: lighter;
}
.production .title .photo {
  margin: 40px 0;
  width: 880px;
}
.production .title .photo > img {
  display: block;
  width: 100%;
}
.production .content {
  padding: 154px 160px 0 0;
}
.production .content .pagination {
  flex: none;
  display: flex;
  align-items: center;
}
.production .content .pagination > .prev, .production .content .pagination .next {
  border-radius: 900px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  line-height: 1;
  padding: 20px;
  position: relative;
}
.production .content .pagination > .prev > img, .production .content .pagination .next > img {
  display: block;
  position: absolute;
  width: 18.85px;
  height: 32.31px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.production .content .pagination span {
  padding: 0 14px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #4F4F4F;
}
.production .content .text {
  position: relative;
  margin: 24px 0;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  color: black;
  opacity: 1;
}
.production .content .text p + p {
  margin-top: 2em;
}
.production .content .text b {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  color: #252A31;
}
.production .content .text pre {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 32px;
  line-height: 1.2;
  color: #252A31;
  margin: 0;
  white-space: pre-wrap;
}

.case-study .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.case-study .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.case-study .body-item {
  flex: 1 0 33.33%;
  text-align: center;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.case-study .option {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-study .option img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transform-origin: center;
}
.case-study .option span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.9em;
  color: #FFFFFF;
}
.case-study .shape {
  width: 11.3541666667vw;
}
.case-study .option {
  width: 11.3541666667vw;
}
.case-study .triangle {
  width: 12.5vw;
}
.case-study .triangle img {
  scale: 1.12;
  left: 0;
}
.case-study .triangle:nth-child(1) {
  margin-top: 130px;
  animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
}
.case-study .triangle:nth-child(1) img {
  rotate: -9.35deg;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 10px;
}
.case-study .triangle:nth-child(2) {
  animation: floating 4.3728878885s ease-in-out infinite alternate;
}
.case-study .triangle:nth-child(2) img {
  rotate: 12.16deg;
  top: 0;
  bottom: 65px;
  left: 20px;
  right: 0;
}
.case-study .circle {
  scale: 1;
}
.case-study .circle:nth-child(1) {
  animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
}
.case-study .circle:nth-child(2) {
  margin-top: 150px;
  animation: floating 5.3613873204s ease-in-out infinite alternate;
}
.case-study .rectangle {
  width: 12.5vw;
}
.case-study .rectangle img {
  scale: 0.88;
}
.case-study .rectangle:nth-child(1) {
  margin-top: 42px;
  animation: floating 9.3131782653s ease-in-out infinite alternate;
}
.case-study .rectangle:nth-child(1) img {
  rotate: 10.88deg;
}
.case-study .rectangle:nth-child(2) {
  animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
}
.case-study .rectangle:nth-child(2) img {
  rotate: -4.48deg;
}

.pop-up {
  background-color: rgba(107, 107, 107, 0.6);
  position: absolute;
  top: 30000px;
  left: 30000px;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity 0.3s 0.3s;
  opacity: 0;
}
.pop-up .content {
  opacity: 0;
  transition: opacity 0.3s;
}
.pop-up.show {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: opacity 0.3s;
}
.pop-up.show .content {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.pop-up .content {
  background-color: #F2F3F4;
  max-width: 683px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 35.5729166667vw;
  height: 65.462962963vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.pop-up .content .head {
  flex: 0;
}
.pop-up .content .head img {
  display: block;
  margin-left: auto;
  width: 4.1666666667vw;
}
.pop-up .content .body {
  flex: 1 1 auto;
}
.pop-up .content .body .qr-code {
  display: block;
  margin: auto;
  object-fit: contain;
  min-width: 435px;
}
.pop-up .content .footer {
  flex: 0;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #252A31;
  padding-bottom: 96px;
}

.ebook {
  background-color: rgba(107, 107, 107, 0.6);
  position: absolute;
  top: 30000px;
  left: 30000px;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: left 0ms ease 600ms, top 0ms ease 600ms, opacity 0.3s 0.3s;
  opacity: 0;
}
.ebook .content {
  opacity: 0;
  transition: opacity 0.3s;
}
.ebook.show {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: opacity 0.3s;
}
.ebook.show .content {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.ebook .content {
  background-color: #F2F3F4;
  width: 80%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.ebook .content .head {
  flex: 0;
}
.ebook .content .head img {
  display: block;
  margin-left: auto;
  width: 4.1666666667vw;
}
.ebook .content .body {
  flex: 1 1 auto;
  border: none;
  padding-top: 1.2em;
}

.about-sinbon > .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon > .body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon > .body .content {
  max-width: 1113px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  position: relative;
}
.about-sinbon > .body .content img {
  display: block;
  max-width: 1113px;
}
.about-sinbon > .body .content .read-me-button {
  position: absolute;
  left: 64px;
  bottom: 59.71px;
  width: 212px;
  height: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  color: #005694;
  background: #FFFFFF;
  border-radius: 40px;
  line-height: 2.2;
}
.about-sinbon > .body .qr-code-button {
  background: #FFFFFF;
  /* main */
  border: 4px solid #005694;
  border-radius: 40px;
  padding: 18px 31px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.67em;
  color: #005694;
}
.about-sinbon > .body .qr-code-button img, .about-sinbon > .body .qr-code-button span {
  height: 1em;
  vertical-align: middle;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
  overflow: hidden;
  height: 100%;
}

#app {
  display: flow-root;
  position: relative;
  height: 100%;
}

.transition-next-page {
  width: 10vw;
  height: 10vw;
  border-radius: 4000px;
  background-color: #005694;
  transition: scale 0.3s;
  scale: 15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
