.display-none {
  display: none !important;
}

.scale0-to-origin {
  scale: 0 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .back-prev {
  position: relative;
}
.header .back-prev .title {
  position: absolute;
  left: 4.1666666667vw;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2.69em;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: fit-content;
  padding-left: 0.79em;
  /* blueGray/blueGray */
  color: #939DAE;
}
.header .back-prev,
.header .options,
.header .sinbon-logo {
  flex: none;
  width: 10.7291666667vw;
}
.header .back-prev,
.header .options {
  flex: none;
  width: 4.1666666667vw;
}
.header .back-prev img,
.header .options img {
  width: 100%;
}

@keyframes floating {
  0% {
    transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
  }
}
.nav-page .header {
  margin-top: 3.4259259259vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.nav-page .main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 35.1268518519vh;
}
.nav-page .main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
  box-sizing: border-box;
}
.nav-page .main-nav-item {
  transition: scale 0.3s;
  scale: 1;
  position: relative;
  text-align: center;
}
.nav-page .main-nav-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: -1;
  width: 19.21875vw;
}
.nav-page .main-nav-item .text {
  line-height: 1em;
  font-size: 3.13em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  pointer-events: none;
}
.nav-page .main-nav .shape:nth-child(1) {
  animation: floating 3.3898021649s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(1) img {
  transform: rotate(-26deg) translate(-21px, -61px) scale(1.1160433604);
}
.nav-page .main-nav .shape:nth-child(2) {
  animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
}
.nav-page .main-nav .shape:nth-child(3) {
  animation: floating 6.524291946s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(3) img {
  transform: rotate(-15deg) scale(0.81899729);
}

.product-category .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.product-category .body-item {
  text-align: center;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-category .body-item:nth-child(1) {
  flex: 1 0 26vw;
}
.product-category .option {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-category .option img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transform-origin: center;
}
.product-category .option span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.56em;
  color: #FFFFFF;
}
.product-category .shape {
  width: 11.3541666667vw;
}
.product-category .option {
  width: 11.3541666667vw;
}
.product-category .triangle {
  width: 12.5vw;
}
.product-category .triangle img {
  scale: 1.12;
  left: 0;
}
.product-category .triangle:nth-child(1) {
  animation: floating 3.3656091897s ease-in-out infinite alternate-reverse;
}
.product-category .triangle:nth-child(1) img {
  rotate: -9.35deg;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 10px;
}
.product-category .triangle:nth-child(2) {
  animation: floating 4.3728878885s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(2) img {
  rotate: 100.68deg;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 0;
}
.product-category .triangle:nth-child(3) {
  animation: floating 7.020452753s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(3) img {
  rotate: -64.64deg;
  top: 0;
  bottom: 40px;
  left: -60px;
  right: 0;
}
.product-category .triangle:nth-child(4) {
  animation: floating 4.3379028587s ease-in-out infinite alternate;
}
.product-category .triangle:nth-child(4) img {
  rotate: -80.4deg;
  top: 0;
  bottom: 0;
  left: -55px;
  right: 0;
}
.product-category .circle {
  scale: 1;
}
.product-category .circle img {
  scale: 0.9;
}
.product-category .circle:nth-child(1) {
  animation: floating 6.1125706591s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(2) {
  margin-top: 60px;
  animation: floating 5.3613873204s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(3) {
  margin-top: 120px;
  animation: floating 5.9087350152s ease-in-out infinite alternate-reverse;
}
.product-category .circle:nth-child(4) {
  margin-top: 60px;
  animation: floating 3.580243699s ease-in-out infinite alternate;
}
.product-category .circle:nth-child(5) {
  margin-top: 120px;
  animation: floating 6.6803234705s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle {
  width: 12.5vw;
}
.product-category .rectangle img {
  scale: 0.88;
}
.product-category .rectangle:nth-child(1) {
  animation: floating 9.3131782653s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(1) img {
  rotate: -15deg;
}
.product-category .rectangle:nth-child(2) {
  margin-top: 42px;
  animation: floating 6.8423769918s ease-in-out infinite alternate-reverse;
}
.product-category .rectangle:nth-child(2) img {
  rotate: 14.97deg;
}
.product-category .rectangle:nth-child(3) {
  margin-top: 72px;
  animation: floating 8.4659051938s ease-in-out infinite alternate;
}
.product-category .rectangle:nth-child(3) img {
  rotate: 2.59deg;
}

.about-sinbon .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon .body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.about-sinbon .body .content {
  max-width: 1113px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  position: relative;
}
.about-sinbon .body .content img {
  display: block;
}
.about-sinbon .body .content .read-me {
  position: absolute;
  left: 64px;
  bottom: 59.71px;
  width: 212px;
  height: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  color: #FFFFFF;
  background: #005694;
  border-radius: 40px;
  line-height: 2.2;
}
.about-sinbon .body .qr-code {
  background: #FFFFFF;
  /* main */
  border: 4px solid #005694;
  border-radius: 40px;
  padding: 18px 31px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.67em;
  color: #005694;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
}

.app {
  display: block;
  position: relative;
}

.transition-next-page {
  width: 10vw;
  height: 10vw;
  border-radius: 4000px;
  background-color: #005694;
  transition: scale 0.3s;
  scale: 15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
