.sinbon-logo {
  width: 10.7291666667vw;
  height: 5.7685185185vh;
  margin: auto;
  margin-top: 3.4259259259vh;
}
.sinbon-logo img {
  width: 100%;
  display: block;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 23.7037037037vh;
}
.main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
}
.main-nav-item {
  position: relative;
}
.main-nav-item .text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 3em;
  font-family: sans-serif, Montserrat;
  font-weight: bold;
  color: #FFFFFF;
}
.main-nav-item .triangle-text-fix {
  right: 10%;
}
.main-nav .shape {
  width: 19.21875vw;
}
.main-nav .shape:nth-child(1) {
  animation: floating 2.3898021649s infinite alternate;
}
.main-nav .shape:nth-child(2) {
  animation: floating 4.1441648987s infinite alternate-reverse;
}
.main-nav .shape:nth-child(3) {
  animation: floating 6.524291946s infinite alternate;
}
.main-nav .shape img {
  width: 100%;
  display: block;
}

@keyframes floating {
  0% {
    transform: translate(1.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(0.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(9.9937371279deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

.app {
  display: block;
}
