.display-none {
  display: none !important;
}

.scale0-to-origin {
  scale: 0 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .back-prev,
.header .options,
.header .sinbon-logo {
  flex: none;
  width: 10.7291666667vw;
}
.header .back-prev,
.header .options {
  flex: none;
  width: 4.1666666667vw;
}
.header .back-prev img,
.header .options img {
  width: 100%;
}

.nav-page .header {
  margin-top: 3.4259259259vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}
.nav-page .main-nav {
  display: flex;
  align-items: center;
  margin-left: 5.2083333333vw;
  margin-right: 5.2083333333vw;
  margin-top: 35.1268518519vh;
}
.nav-page .main-nav-item {
  flex: 1 1 auto;
  padding-left: 5.2083333333vw;
  padding-right: 5.2083333333vw;
  box-sizing: border-box;
}
.nav-page .main-nav-item {
  transition: scale 0.3s;
  scale: 1;
  position: relative;
  text-align: center;
}
.nav-page .main-nav-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: -1;
  width: 19.21875vw;
}
.nav-page .main-nav-item .text {
  line-height: 1em;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  pointer-events: none;
}
.nav-page .main-nav .shape:nth-child(1) {
  animation: floating 3.3898021649s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(1) img {
  transform: rotate(-26deg) translate(-21px, -61px) scale(1.1160433604);
}
.nav-page .main-nav .shape:nth-child(2) {
  animation: floating 4.1441648987s ease-in-out infinite alternate-reverse;
}
.nav-page .main-nav .shape:nth-child(3) {
  animation: floating 6.524291946s ease-in-out infinite alternate;
}
.nav-page .main-nav .shape:nth-child(3) img {
  transform: rotate(-15deg) scale(0.81899729);
}

@keyframes floating {
  0% {
    transform: translate(15.5361076761px, 9.3340998139px) rotate(2.5596703838deg);
  }
  25% {
    transform: translate(8.8381011027px, 13.0731382216px) rotate(3.6929871803deg);
  }
  50% {
    transform: translate(16.5657577187px, 6.4031424025px) rotate(0.4934138496deg);
  }
  75% {
    transform: translate(1.0992439396px, 12.7889552806px) rotate(1.9937371279deg);
  }
}
.product-category .header {
  margin-top: 5.462962963vh;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
}

.app {
  display: block;
  position: relative;
}

.transition-next-page {
  width: 10vw;
  height: 10vw;
  border-radius: 4000px;
  background-color: #005694;
  transition: scale 0.3s;
  scale: 15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
